<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div id="root">
        <section class="container">
            <div class="back_lt"></div>
            <div class="back_r"></div>
            <span class="c_title">卫生大抽奖</span>
            <div class="content">
                <span v-for="(v, k) in turnableArr" :class="'box box_' + k + ' active_' + (v.active ? k : '')">
                    {{v.label}}
                </span>
            </div>
            <div class="start" @click="startGame()">立即抽奖</div>
        </section>
        <section class="data_show">
            <ul>
                <li class="li_head">奖品设置</li>
                <li v-for="(v, k) in turnableArr">
                    <span>{{v.label + '：' + v.personList.join()}}</span>
                </li>
            </ul>
        </section>
    </div>
</body>
</html>